<h1 class="display-5 text-center fw-bold text-body-emphasis">Coucou, bienvenue dans l'index des donjons</h1>
<div class="container text-center">
    <div class="grid">
        <div class="row row-cols-3">
            <% @dungeons.each_with_index do |dungeon, index| %>
                <%= link_to dungeon_path(dungeon), class: "link-light" do %>
                    <div class="col">
                        <div class="d-flex bg-secondary p-2 m-2 rounded-3">
                            <div class="align-items-center">
                                <%= image_tag dungeon.imgSrc, width: 96%>
                            </div>
                            <div class="flex-fill align-items-stretch">
                                <div class="d-flex justify-content-between mx-2">
                                    <div class="d-flex"><%= dungeon.name %></div>
                                    <div class="d-flex"><%= dungeon.modulation %></div>
                                </div>
                                <div class="d-flex justify-content-around mx-2 align-items-center">
                                    <div> <%= image_tag 'interface/60625176.png', alt: "Coffre", width: 72 %> <%= @coffres[index] %> </div>
                                    <div> <%= @rankedCharacters[index] %> / <%= @characters[index] %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>


