<div class="container">
  <%= link_to "Retour", dungeons_path %>
  <div class="row row-cols-2">
    <h1 class="col-8 display-5 fw-bold text-body-emphasis"><%= @dungeon.name %></h1>
    <h3 class="col-4 display-7 fw-bold text-body-emphasis">Total des coffres :  <%= @total_coffres %></h3>
  </div>
  <%= link_to "Nouveau Classement", new_dungeon_ranking_path(@dungeon), data: { turbo_frame: 'modal' }, locals: {noRankCharacters: @noRankCharacters} %>
  <h3>Classement</h3>
  <table>
    <tr>
      <th>Nom du perso</th>
      <th>Stasis</th>
    </tr>
    <% @characters.each_with_index do |character, index| %>
      <tr>
        <td><%= character.name%></td>
        <% if Ranking.where(dungeon: @dungeon, character:character).exists? %>
          <td><%= character.rankings.where(dungeon: @dungeon).first.stasis %></td>
          <td>
            <td><%= link_to "Editer", edit_ranking_path(character.rankings.where(dungeon: @dungeon).first), data: { turbo_frame: 'modal' } %></td>
          </td>
        <% end%>
      </tr>
    <% end %>
  </table>
</div>
