<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>🗿Caillou🗿</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
  </body>
</html>
